---
// Navigation component
---

<nav class="topnav" id="top">
    <div class="nav-container">
        <a href="/" class="logo-link">
            <img src="/images/NM1.png" alt="Logo" id="logo">
        </a>
        
        <ul class="nav-menu" id="navbar">
            <li class="nav-item">
                <a href="/" class="nav-link">Home</a>
            </li>
            <li class="nav-item dropdown">
                <a href="/resume" class="nav-link dropdown-toggle">My Resume</a>
                <ul class="dropdown-menu">
                    <li><a href="/resume#Experience" class="dropdown-link">Experience</a></li>
                    <li><a href="/resume#Skills" class="dropdown-link">Skills & Tools</a></li>
                    <li><a href="/resume#Courses" class="dropdown-link">Courses & Achievements</a></li>
                    <li><a href="/resume#Education" class="dropdown-link">Education</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="/projects" class="nav-link">Projects</a>
            </li>
            <li class="nav-item">
                <a href="/about" class="nav-link">About Me</a>
            </li>
            <li class="nav-item">
                <a href="/contact" class="nav-link">Contact</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link theme-toggle"><span class="theme-icon">🎨</span> <span class="theme-text">Theme</span></a>
                <div class="theme-dropdown-menu">
                    <div class="theme-accordion">
                        <div class="accordion-item">
                            <div class="accordion-header">AFL Teams</div>
                            <div class="accordion-content">
                            <a href="#" class="theme-option" data-theme="afl-adelaide">Adelaide</a>
                            <a href="#" class="theme-option" data-theme="afl-brisbane">Brisbane</a>
                            <a href="#" class="theme-option" data-theme="afl-carlton">Carlton</a>
                            <a href="#" class="theme-option" data-theme="afl-collingwood">Collingwood</a>
                            <a href="#" class="theme-option" data-theme="afl-essendon">Essendon</a>
                            <a href="#" class="theme-option" data-theme="afl-fremantle">Fremantle</a>
                            <a href="#" class="theme-option" data-theme="afl-geelong">Geelong</a>
                            <a href="#" class="theme-option" data-theme="afl-goldcoast">Gold Coast</a>
                            <a href="#" class="theme-option" data-theme="afl-gws">GWS Giants</a>
                            <a href="#" class="theme-option" data-theme="afl-hawthorn">Hawthorn</a>
                            <a href="#" class="theme-option" data-theme="afl-melbourne">Melbourne</a>
                            <a href="#" class="theme-option" data-theme="afl-northmelbourne">North Melbourne</a>
                            <a href="#" class="theme-option" data-theme="afl-portadelaide">Port Adelaide</a>
                            <a href="#" class="theme-option" data-theme="afl-richmond">Richmond</a>
                            <a href="#" class="theme-option" data-theme="afl-stkilda">St Kilda</a>
                            <a href="#" class="theme-option" data-theme="afl-sydney">Sydney</a>
                            <a href="#" class="theme-option" data-theme="afl-westcoast">West Coast</a>
                            <a href="#" class="theme-option" data-theme="afl-bulldogs">Western Bulldogs</a>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <div class="accordion-header">Basic Themes</div>
                            <div class="accordion-content">
                                <a href="#" class="theme-option" data-theme="dark">Dark Theme</a>
                                <a href="#" class="theme-option" data-theme="light">Light Theme</a>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <div class="accordion-header">Companies</div>
                            <div class="accordion-content">
                            <a href="#" class="theme-option" data-theme="company-anthropic">Anthropic</a>
                            <a href="#" class="theme-option" data-theme="company-apple">Apple</a>
                            <a href="#" class="theme-option" data-theme="company-facebook">Facebook</a>
                            <a href="#" class="theme-option" data-theme="company-google">Google</a>
                            <a href="#" class="theme-option" data-theme="company-microsoft">Microsoft</a>
                            <a href="#" class="theme-option" data-theme="company-openai">OpenAI</a>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <div class="accordion-header">Fun Themes</div>
                            <div class="accordion-content">
                                <a href="#" class="theme-option" data-theme="glass">Glassmorphism</a>
                                <a href="#" class="theme-option" data-theme="gradient">Gradient Wave</a>
                                <a href="#" class="theme-option" data-theme="neon">Neon Glow</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav>